*{
    padding: 0;
    margin: 0;
}
.body{
    background: url("bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
#board{
    background: linear-gradient(rgb(244, 244, 118), rgb(114, 188, 114));
    width: 90vmin;
    height: 90vmin;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);

}


h1, h2{
    position: absolute;
    justify-self: center;
    top: 240px;
    font-size: 30px;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    display: inline-block;
    color: rgb(6, 79, 8);
}
h2{
    top: 280px;

}

button{
    position: absolute;
    justify-self: center;
    align-self: center;
    /* top: 0px; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    height: 2.25rem;
    width: 6.125rem;
    border: 2px solid black;
    color: white;
    background: linear-gradient(green, black);  
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
       
}

.head{
    background: linear-gradient( green, black);
    border: .25vmin solid black;
    border-radius: 15px;
    transform: scale(1.02);
}

.snake{
    background : linear-gradient(green, grey);
    border: .25vmin solid black;
    border-radius: 15px;

}

.food{
    background: linear-gradient(rgb(255, 0, 0), rgb(230, 98, 98));
    border: .25vmin solid black;
    border-radius: 20px;
}
#Scorebox{
    position: absolute;
    top: 50px;
    right: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(31, 92, 1);
}
#Highscore{
    position: absolute;
    top: 100px;
    right: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(31, 92, 1);
}